<html>
  <head>
    <title><%=title %></title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Athiti" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400" rel="stylesheet"> </head>
  <body>
      <header>
          <h3>BitBingo</h3>
     
              
          
      </header>
    <div class="blk">
    <div class="wrapper">
    
    <article>
        <h4> 1,000,000 uB Jackpot</h4>
          <p>             Lorem ipsum dolor sit amet, ea vidit oporteat abhorreant mei, eam omnium efficiendi definitiones cu. An eum scripta integre vulputate, ut detracto assentior has. In has debitis repudiandae complectitur. Et qui meliore oporteat deterruisset, ex populo adolescens scripserit vix. No pro adipisci disputationi.
            Mutat quaeque albucius ea per, admodum interesset deterruisset an vix. Cum ei amet luptatum. Nec esse liber nonumes at, sit te enim vero consetetur, ferri quaeque detraxit id sea. Ut simul vituperata scripserit eum, simul tritani alienum est et. Id eripuit adipiscing est, nec consul delectus id. Pri ex iriure fastidii intellegebat. Vim vide dolores officiis an, choro nullam ne quo.
        </p>
              </article>

    <footer>
                <nav>
                <div>
                    <button id="si-btn">Sign In</button>
                    <button id="su-btn">Sign Up</button>
                </div>   
                </nav>
    </footer>
    
    <div class="toolbar">
        <ul>
            <li> Game Policy</li>
             <li>FAQ  </li>
            <li>  About  </li>
             </ul>
    </div>
     </div>
     <div class="imgwrp">
        <div class="wrp"><img src="./images/11765.jpg" allign="middle"  id="front">
        </div>
       <div style="text-align:center; font-family: monospace;"><a style="" href="86.123.134.100:3000" class="certif">Bitcoin Certified</a></div>
      </div>
      </div>

      <div id="signin" class="modal">

           
            <div class="modal-content">
             
              <img src="./images/locks.png"  style="filter:invert(1); display: block; margin:0 auto; margin-right: 32%; height: 100px;">
              <form method="GET" >
                   <br>
                   <input name="email" autocomplete="off" id="email" class="credential" type="email" placeholder="Email">
                   <br>
                   <input name="password" id="password" placeholder="Password" class="credential" type="password">
                   <br>
                   <div style="widows: 100%;"><input type="submit"></div>
               </form>
            </div>
          
          </div>
          <div id="signup" class="modal">

              
                <div class="modal-content">
                        <img src="./images/locks.png"  style="filter:invert(1); display: block; margin:0 auto; margin-right: 32%; height: 100px;">
                        <form method="GET" >
                             <br>
                             <input name="email" autocomplete="off" id="email" class="credential" type="email" placeholder="Email">
                            <br>
                             <input name="password" autocomplete="off" id="password" placeholder="Password" class="credential" type="password">
                          <br>
                             <input name="confirmPassword" placeholder="Confirm Password" class="credential" type="password">
                             <br>
                             <input type="submit">
                         </form>
                </div>
              
              </div>
  </body>
  <script>
  var modal 
 
// Get the button that opens the modal
var btn = document.getElementById("si-btn");

var btn2 = document.getElementById("su-btn");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function(e) {
     modal = document.getElementById('signin');
    
  
    modal.style.display = "block";
}
btn2.onclick=function(e){
    modal= document.getElementById('signup');
    modal.style.display = "block";
}
// When the user clicks on <span> (x), close the modal
//span.onclick = function() {
 //   modal.style.display = "none";
//}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == document.getElementById('signin') || event.target == document.getElementById('signup')) {
        modal.style.display = "none";
    }
}

  </script>
</html>