<html>
  <head>
    <title><%=title %></title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Athiti" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
      <script src="/javascripts/welcome.js"></script>
  </head>
  <body>
      
      <div class="well">
            <div class="wrapper">
            <h3>Bingo</h3>
            <h5>You've come to the right place.</h5>
            <table class="ticket" id="demo">
                <tr>
                    <td class="out"></td>
                    <td class="in sin">S</td>
                    <td class="in sin">I</td>
                    <td class="in sin">G</td>
                    <td class="in sin">N</td>
                    <td class="out"></td>
                    <td class="in sin">I</td>
                    <td class="in sin">N</td>
                    <td class="out"></td>
                    
                </tr>
                <tr>
                    <td class="out" style="height:34px;"></td>
                    <td class="out" ></td>
                   <td class="out" ></td>
                   <td class="out" ></td>
                    <td class="out" ></td>
                     <td class="out" ></td>
                   <td class="out" ></td>
                   <td class="out" ></td>
                    <td class="out" ></td>
                </tr>
               <tr>

                    <td class="out"></td>
                    <td class="in sup">S</td>
                    <td class="in sup">I</td>
                    <td class="in sup">G</td>
                    <td class="in sup">N</td>
                    <td class="out"></td>
                    <td class="in sup">U</td>
                    <td class="in sup">P</td>
                    <td class="out"></td>
                    
                </tr>
               
            </table>
                </div>
      </div>
     
      
  </body>
</html>