<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>Bingo</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/stylesheets/main.css" />
	<!--<link rel="stylesheet" href="/stylesheets/home.css" />-->
	<noscript>
		<link rel="stylesheet" href="/stylesheets/noscript.css" /></noscript>
        <link rel="stylesheet" href = "/stylesheets/profile.css">
    </head>
<body class="is-preload">
    <div id="page-wrapper">

        <!-- Header -->
            <header id="header">
                <h1 id="logo"><a href="index.html">BitBingo</a></h1>
                <nav id="nav">
                    <ul>
                        <li><a href="/" id="top">Home</a></li>
                        <li>
                            <a href="#" style="display:none;">Layouts</a>
                            <ul>
                                <li><a href="left-sidebar.html">Left Sidebar</a></li>
                                <li><a href="right-sidebar.html">Right Sidebar</a></li>
                                <li><a href="no-sidebar.html">No Sidebar</a></li>
                                <li>
                                    <a href="#">Submenu</a>
                                    <ul>
                                        <li><a href="#">Option 1</a></li>
                                        <li><a href="#">Option 2</a></li>
                                        <li><a href="#">Option 3</a></li>
                                        <li><a href="#">Option 4</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
    
                        <!--	<% if(true){ %>
                                    <h1>foo</h1>
                                  <% } else{ %>  
                                    <h1>bar</h1>
                                 <% } %> -->
    
                        <% if (user) { %>
                        <li><a href="/preflight" id="play">Play</a></li>
                        <li><a href="/user">
                                <%= user%></a></li>
                        <li><a href="/logout" class="button primary">Log Out</a></li>
                        <% } else {%>
                        <li><a href="#" class="button primary sup">Sign Up</a></li>
                        <% } %>
    
                    </ul>
                </nav>
            </header>

        <!-- Main -->
            <div id="main" class="wrapper style1">
                <div class="container">
                    <header class="major">
                        <h2>Profile</h2>
                        
                    </header>
                    <div class="row gtr-150">
                        <div class="col-4 col-12-medium"  style="padding-left:13px;">

                            <!-- Sidebar -->
                                <section id="sidebar">
                                  <!--  <section>
                                        <h3>Magna Feugiat</h3>
                                        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit..</p>
                                        <footer>
                                            <ul class="actions">
                                                <li><a href="#" class="button">Learn More</a></li>
                                            </ul>
                                        </footer>
                                    </section>
                                    <hr />
                                    <section>
                                        <a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
                                        <h3>Amet Lorem Tempus</h3>
                                        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                                        <footer>
                                            <ul class="actions">
                                                <li><a href="#" class="button">Learn More</a></li>
                                            </ul>
                                        </footer>
                                    </section> -->
                                    <ul class="clist">
                                        <li><span id="acc_trigger" class="active">Account</span></li>
                                        <li><span id="bank_trigger">Deposit</span></li>
                                        <li><span id="prizes_trigger">Prizes</span></li>
                                        <li><span id="stats_trigger">Stats</span></li>
                                    </ul>
                                </section>

                        </div>
                        <div class="col-8 col-12-medium imp-medium">

                            <!-- Content -->
                                <section id="content">
                                    <div id="acc" class="cntnt">
                                        <form action="/acc" method="post">
                                            
                                            <div class="field">
                                                <label> NickName </label>
                                                <input type="text" name="nick" > 
                                            </div>
                                            <div class="field">
                                                <label>New Password </label>
                                                <input type="password" name="newpass">
                                            </div>
                                            <div class="field">
                                                <label> Confirm New Password </label>
                                                <input type="password" name="newpassConf">
                                            </div>
                                            <div class="bottomBar"><input type="submit" value="Save"  class="button-primary"></div>
                                        </form>
                                    </div>
                                    <div id="bank" class="vanished cntnt">

                                    </div>
                                    <div id="prizes" class="vanished cntnt">

                                    </div>
                                    <div id="stats" class="vanished  cntnt">

                                    </div>
                                   <!-- <a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a>
                                    <h3>Dolore Amet Consequat</h3>
                                    <p>Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam quam, mollis at magna consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam.</p>
                                    <p>Vestibulum diam quam, mollis at consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum. Morbi mattis elementum orci, nec dictum porta cursus justo. Quisque ultricies lorem in ligula condimentum, et egestas turpis sagittis. Cras ac nunc urna. Nullam eget lobortis purus. Phasellus vitae tortor non est placerat tristique.</p>
                                    <h3>Sed Magna Ornare</h3>
                                    <p>In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu in odio vulputate luctus. Suspendisse euismod lorem eget lacinia fringilla. Sed sed felis justo. Nunc sodales elit in laoreet aliquam. Nam gravida, nisl sit amet iaculis porttitor, risus nisi rutrum metus.</p>
                                    <ul>
                                        <li>Faucibus orci lobortis ac adipiscing integer.</li>
                                        <li>Col accumsan arcu mi aliquet placerat.</li>
                                        <li>Lobortis vestibulum ut magna tempor massa nascetur.</li>
                                        <li>Blandit massa non blandit tempor interdum.</li>
                                        <li>Lacinia mattis arcu nascetur lobortis.</li>
                                    </ul>-->
                                </section>

                        </div>
                    </div>
                </div>
            </div>

        <!-- Footer -->
            <footer id="footer">
                <ul class="icons">
                    <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </footer>

    </div>

	<!-- Scripts -->
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/jquery.scrolly.min.js"></script>
	<script src="/javascripts/jquery.dropotron.min.js"></script>
	<script src="/javascripts/jquery.scrollex.min.js"></script>
	<script src="/javascripts/browser.min.js"></script>
	<script src="/javascripts/breakpoints.min.js"></script>
	<script src="/javascripts/util.js"></script>
	<script src="/javascripts/main.js"></script>
	<script src="/javascripts/gameroom.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	<script src="/javascripts/recon.js"></script>
	<script src="/javascripts/profile.js"></script>



</body>

</html>