body{
    overflow: auto;
}
body table tbody tr:nth-child(2n + 1) {
    background-color: rgba(45, 50, 61, 0.965);
}

#main{
    padding-top:15px!important;
}

.major{
margin-bottom:20px!important;
}
.major p{
    margin-bottom: 0px;
}
*:before, *:after {
    
    margin-bottom: 10px;
}

.panel{
     
    width: 97.5%;
    height: 400px;
    background-color: rgba(45, 50, 61, 0.965);
    box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
    overflow-y: scroll;
    padding-bottom: 50px;
} .panel table{
    margin: 0 auto!important;
}

#sidebar{
    height: 400px;
    width: 110%;
    padding-left: 20px;
    border-left: 1px solid #f55;
}
.group{
    height:57%;
   
}
.group h3{
    font-size: 24px!important;
}
#countdown{
    height: 28%;
  
    
}
 
#sidebar .bar{

    margin-top: 35px;
    height: 10%;
    width:460px;
    
}
 .bar input:first-child{
    outline: none;
    user-select: none;
    height: 2em;
    line-height: 2em;
    /*padding: 0 1.25em;*/
    color: white;
    border:0.5px solid  #f55;
    background-color: transparent;
 }
.bar input{
    outline: none;
    user-select: none;
    height: 2em;
    line-height: 2em;
    padding: 0 2.25em;
    color: white;
    border: 0.5px solid black;
    background-color: #f55;
}
.bar input:hover{
    color: white!important;
    background-color: #f66;
    border: 0.5px solid #f66;
}

.tck {
    display: inline-block;
    margin: 0 auto;
}
 .card{
    background-color: #272833;
    height: 150px;
    min-width: 300px;
    zoom:0.85;
    margin:30px;
   
 } 
 .id{
     width: 100%;
     border-bottom: 1px solid grey;
     border-left: 1px solid grey;
     border-right: 1px solid grey;
 }
 .id h4{
     padding: 5px;
     margin:0 auto;
      
 }


 .main-example .countdown-container {
    height: 130px;
  }
  .main-example .time {
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    display: inline-block;
    text-align: center;
    position: relative;
    height: 95px;
    width: 65px;
  
    -webkit-perspective: 479px;
    -moz-perspective: 479px;
    -ms-perspective: 479px;
    -o-perspective: 479px;
    perspective: 479px;
  
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  .main-example .count {
    background: #202020;
    color: #f8f8f8;
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    line-height: 90px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    top: 0;
    width: 100%;
  
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  
    -webkit-transform-style: flat;
    -moz-transform-style: flat;
    -ms-transform-style: flat;
    -o-transform-style: flat;
    transform-style: flat;
  }
  .main-example .count.top {
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 5px 5px 0 0;
    height: 50%;
  
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  .main-example .count.bottom {
    background-image: linear-gradient(rgba(255,255,255,0.1), transparent);
    background-image: -webkit-linear-gradient(rgba(255,255,255,0.1), transparent);
    background-image: -moz-linear-gradient(rgba(255,255,255,0.1), transparent);
    background-image: -ms-linear-gradient(rgba(255,255,255,0.1), transparent);
    background-image: -o-linear-gradient(rgba(255,255,255,0.1), transparent);
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-radius: 0 0 5px 5px;
    line-height: 0;
    height: 50%;
    top: 50%;
  
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  .main-example .count.next {
  }
  .main-example .label {
    font-size: normal;
    margin-top: 5px;
    display: block;
    position: absolute;
    top: 95px;
    width: 100%;
  }
  /* Animation start */
  .main-example .count.curr.top {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    z-index: 3;
  }
  .main-example .count.next.bottom {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    z-index: 2;
  }
  /* Animation end */
  .main-example .flip .count.curr.top {
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  .main-example .flip .count.next.bottom {
    -webkit-transition: all 250ms ease-in-out 250ms;
    -moz-transition: all 250ms ease-in-out 250ms;
    -ms-transition: all 250ms ease-in-out 250ms;
    -o-transition: all 250ms ease-in-out 250ms;
    transition: all 250ms ease-in-out 250ms;
  
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  /* local loading screen */



    

   
  @keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  .splash::after {
     -webkit-animation: flickerAnimation 1s infinite;
     -moz-animation: flickerAnimation 1s infinite;
     -o-animation: flickerAnimation 1s infinite;
      animation: flickerAnimation 1s infinite;
      content: "Please wait ... ";
      height: 40px;
      opacity: inherit;
      position: relative;
      top: 50%;
      left:45%;
      text-align: center;
      z-index: 10001;
  }

  .errorregen::after{
    content: "Snap, we couldn't do that again :( ...  ";
    height: 40px;
    opacity: inherit;
    position: relative;
    top: 50%;
    left:35%;
    text-align: center;
    z-index: 10001;
    transition-duration: 1s;
  }
  .toolate::after{
      transition-duration: 1s;
    content: "Snap! You were too late \A But you can still spectate the game.  ";
    height: 40px;
    opacity: inherit;
    position: relative;
    top: 50%;
    left:35%;
    white-space: pre;
    text-align: center;
    z-index: 10001;
  }

  @media screen and (max-width:1225px){
      .weeks{
          display: none!important;
      }
  }

  @media screen and (max-width:1120px){
      #sidebar{
        height:470px;
    }
    .bar input:first-child{
        display:block;
        margin-bottom:5px
        }
    .bar input:last-child {
            display:block;
            width:200px;
           } 


  }
  @media screen and (max-width:1015px){
      .days{
          display: none!important;
      }
  }
  @media screen and (max-width:980px){
     #sidebar {
         margin-top: 20px;
     } 
    
  }
  @media screen and (max-width:550px){
    .toolate::after{
        left: 20%;
    }
    .errorregen::after{
        left: 20%;
    }
  }

/*
sidebar 470px height;
bar -> input 1st element{
display:block;
margin-bottom:5px
}
bar ->input last {
 display:block;
 width:200px;
}

*/
  /*
  
  
  */



  /*

		.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row > * {
					box-sizing: border-box;
				}

				.row.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row.aln-left {
					justify-content: flex-start;
				}

				.row.aln-center {
					justify-content: center;
				}

				.row.aln-right {
					justify-content: flex-end;
				}

				.row.aln-top {
					align-items: flex-start;
				}

				.row.aln-middle {
					align-items: center;
				}

				.row.aln-bottom {
					align-items: flex-end;
				}

				.row > .imp-xlarge {
					order: -1;
				}

				.row > .col-1-xlarge {
					width: 8.3333333333%;
				}

				.row > .off-1-xlarge {
					margin-left: 8.3333333333%;
				}

				.row > .col-2-xlarge {
					width: 16.6666666667%;
				}

				.row > .off-2-xlarge {
					margin-left: 16.6666666667%;
				}

				.row > .col-3-xlarge {
					width: 25%;
				}

				.row > .off-3-xlarge {
					margin-left: 25%;
				}

				.row > .col-4-xlarge {
					width: 33.3333333333%;
				}

				.row > .off-4-xlarge {
					margin-left: 33.3333333333%;
				}

				.row > .col-5-xlarge {
					width: 41.6666666667%;
				}

				.row > .off-5-xlarge {
					margin-left: 41.6666666667%;
				}

				.row > .col-6-xlarge {
					width: 50%;
				}

				.row > .off-6-xlarge {
					margin-left: 50%;
				}

				.row > .col-7-xlarge {
					width: 58.3333333333%;
				}

				.row > .off-7-xlarge {
					margin-left: 58.3333333333%;
				}

				.row > .col-8-xlarge {
					width: 66.6666666667%;
				}

				.row > .off-8-xlarge {
					margin-left: 66.6666666667%;
				}

				.row > .col-9-xlarge {
					width: 75%;
				}

				.row > .off-9-xlarge {
					margin-left: 75%;
				}

				.row > .col-10-xlarge {
					width: 83.3333333333%;
				}

				.row > .off-10-xlarge {
					margin-left: 83.3333333333%;
				}

				.row > .col-11-xlarge {
					width: 91.6666666667%;
				}

				.row > .off-11-xlarge {
					margin-left: 91.6666666667%;
				}

				.row > .col-12-xlarge {
					width: 100%;
				}

				.row > .off-12-xlarge {
					margin-left: 100%;
				}

				.row.gtr-0 {
					margin-top: 0;
					margin-left: 0em;
				}

					.row.gtr-0 > * {
						padding: 0 0 0 0em;
					}

					.row.gtr-0.gtr-uniform {
						margin-top: 0em;
					}

						.row.gtr-0.gtr-uniform > * {
							padding-top: 0em;
						}

				.row.gtr-25 {
					margin-top: 0;
					margin-left: -0.625em;
				}

					.row.gtr-25 > * {
						padding: 0 0 0 0.625em;
					}

					.row.gtr-25.gtr-uniform {
						margin-top: -0.625em;
					}

						.row.gtr-25.gtr-uniform > * {
							padding-top: 0.625em;
						}

				.row.gtr-50 {
					margin-top: 0;
					margin-left: -1.25em;
				}

					.row.gtr-50 > * {
						padding: 0 0 0 1.25em;
					}

					.row.gtr-50.gtr-uniform {
						margin-top: -1.25em;
					}

						.row.gtr-50.gtr-uniform > * {
							padding-top: 1.25em;
						}

				.row {
					margin-top: 0;
					margin-left: -2.5em;
				}

					.row > * {
						padding: 0 0 0 2.5em;
					}

					.row.gtr-uniform {
						margin-top: -2.5em;
					}

						.row.gtr-uniform > * {
							padding-top: 2.5em;
						}

				.row.gtr-150 {
					margin-top: 0;
					margin-left: -3.75em;
				}

					.row.gtr-150 > * {
						padding: 0 0 0 3.75em;
					}

					.row.gtr-150.gtr-uniform {
						margin-top: -3.75em;
					}

						.row.gtr-150.gtr-uniform > * {
							padding-top: 3.75em;
						}

				.row.gtr-200 {
					margin-top: 0;
					margin-left: -5em;
				}

					.row.gtr-200 > * {
						padding: 0 0 0 5em;
					}

					.row.gtr-200.gtr-uniform {
						margin-top: -5em;
					}

						.row.gtr-200.gtr-uniform > * {
							padding-top: 5em;
						}

	
	
		/* Basic */
/*
        body, input, select, textarea {
            font-size: 13pt;
        } 

  */