body { overflow-y: hidden;
  
 /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
    color: white;
    background:rgba(1,9,20,1);/*linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5))*/
    min-width: 1010px;   
    padding-bottom: 50px;
    overflow:auto;
    
    
}
.blk{
    display: block;
    margin: 0 auto;
    width: 100%;
}
.wrapper{
 
     display: inline-block;
    margin:0 auto;
    width: 49%;
    height: 80%;
    
    margin: 0 auto!important;
}
.imgwrp { 
   
    display: inline-block;
   
    
    width: 49%;
    margin: 0 auto!important;
}
.wrp{ 
    position: relative;
    width:300px;
    margin: 0 auto;
    margin-right: 33.5%;
     }
#front{
   
    width: 300px;
    text-align: center;
    zoom: 1.3;
   
   
   
}
.certif{
    color:gray;
    text-decoration: none;
    transition-duration: 0.51s;
    font-size: 16px;
}
.certif:hover{
    color:#f55;
    font-size: 18px;
}
header{ 
    text-align: center;
    display: inline-block;
    width: 97%;
    min-height: 50px;
    margin-top:20px;
   z-index: 1000;

}

header ul{
    display: inline;
    width: 200px;
    height: 30px;
   
    list-style: none;
    vertical-align: middle;
}

header ul li{
    display: inline;
    
}

header h3{ 
    display: inline;
    font-family: 'Jura', sans-serif; 
    font-size: 34px;
    padding-left: 50px;
    user-select: none;
}
article {
    margin:0 auto;
    width: 70%;
    
    
}
article h4{ 
    text-align: center;
    color: #ddd;
    font-size: 24px;
    font-family: monospace;}
article p{font-family: 'Raleway', sans-serif;
   
    padding-left: 10px; 
    
    word-break: break-all;
    white-space: pre-wrap;
    color: grey;
    font-weight:300;
    
}
footer nav{
    position: relative;
    width: 100%;
    margin-top:20px;
    margin: 0 auto;

}
footer nav div{ margin: 0 auto;
width: 250px;
padding-top:10px;
}
footer nav div button{
    
    margin-left:20px;
    margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
    min-width: 60px;
    background: black;
    color: white;
    border: 1px solid #F55;
    user-select: none;
    outline: none;
    cursor: pointer;
    transition-duration: 0.5s;
    zoom:1.2;
}

footer nav button:hover{

    background: #f55;
    border-color: transparent;
}
.toolbar{
    position: fixed;
    bottom: 0;
    left:0;
    width: 97%;
    
}
.toolbar ul{
    list-style:none;
    text-align: center;
    user-select: none;
}
.toolbar ul li{
    margin: 0 auto;
    display: inline-grid;
    display: -ms-inline-grid;
    color: gray;
    margin:5px;
    cursor: pointer;
    user-select: none;
    transition: 0.5s;
}
.toolbar ul li:hover{
    color: #F55;
    font-size: 20px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
   
}

/* Modal Content */
.modal-content {
    border-radius: 7px;
    background-color: rgba(1,9,20,1);
    margin: auto;
    padding: 20px;
   
    border: 0.5px solid ;
    width: 20%;
}
.modal-content form{
    padding: 25px;
    display: block;
    margin: 0 auto;
}
.modal-content form input{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 5px;
    background: white;
    color: black;
    border: 0.6px solid transparent;
    transition-duration: 0.4s;
   
   
}   .credential{
    font-size: 13px;
    font-family: Helvetica, sans-serif;
}
.credential:focus{
    color: white;
    background: transparent;
    border-color: #F55
}

.modal-content form label{
    color: black;
    text-align: center;
}
.modal-content form input[type="submit"]{
    width: 50%;
    position: relative;
    display: block;
    
    text-align: center;
    margin: 0 auto!important;
    cursor: pointer;
}
.modal-content form input[type="submit"]:hover{
    background: #f55;
    color: white;

}


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*
.well{
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1),rgba(0,0,0,0));
    border: 1px solid transparent;
    margin: 0 auto;
    width: 500px;
    min-height: 98%;
    display: block;
}
.wrapper{  
    transition-duration: 1s;
}
.well *{
    margin: 0 auto;
    margin-bottom: 70px;
}
.well h3{
    text-shadow: 0 0 5px rgb(244,48,50), 0 0 10px rgb(244,48,50), 0 0 20px rgb(244,48,50), 0 0 30px rgb(244,48,50), 0 0 40px rgb(244,48,50), 0 0 55px rgb(244,48,50), 0 0 75px rgb(244,48,50);
    
    color:  white;
    
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family:'Athiti',sans-serif;
    font-weight: 200;
    
    font-size: 54px;
    
}
.well h5{
    text-shadow: 0 0 5px rgb(103,174,203), 0 0 10px rgb(103,174,203), 0 0 20px rgb(103,174,203), 0 0 30px rgb(103,174,203);
    text-align: center;
    font-family:'Grand Hotel',cursive;
    font-size: 44px;
    color:  white;
    
}


.ticket{
    
     
    padding: 5px;
    width: 380px!important;
    height:150px;
    text-align: center;
   
    border-spacing: 10px;
    
}
.ticket *{ 
    border: 1px solid white;
    user-select: none;
    
}
.table tr{
    margin-bottom: 15px;
}
.ticket tr td{
    transition-duration: 1s;
    
    color: rgb(244,48,50);
    border: 1px solid white;
    min-width: 12px;
    min-height: 12px;
}

.out{ 
    color: white!important;
    border: 1px solid white !important;
}


.SignInForm{
    
    
    width: 500px;
    vertical-align: bottom;
    position: absolute;
    top:20%;
    display:grid;
     
}

.SignInForm input[type="text"],input[type="password"]{
    text-align: center;
    border: none;
    margin-bottom: 15px;
    width: 50%;
    border-radius: 5px;
    padding: 5px;
    
   
}

.SignInForm input[type="submit"]{
    border: none;
    border-radius: 7px;
    width: 50%;
    padding: 5px;
    cursor: pointer;
    background: white;
}



table:hover{
    transition-duration: 1s;
    border-color: transparent;
}
table:hover> tbody tr .out{
    opacity: 0;
}
table:hover> tbody tr .in{
    border-color: transparent;
}
table tr:first-child:hover,table tr:last-child:hover{
    cursor: pointer;
}

table tr:first-child:hover>td{
    border-color: transparent;
  
     text-shadow: 0 0 5px rgb(103,174,203), 0 0 10px rgb(103,174,203), 0 0 20px rgb(103,174,203), 0 0 30px rgb(103,174,203),0 0 40px rgb(103,174,203),0 0 50px rgb(103,174,203);
    color: white;
}
table tr:last-child:hover>td{
    border-color: transparent;
   
    cursor: pointer;
    text-shadow: 0 0 5px rgb(103,174,203), 0 0 10px rgb(103,174,203), 0 0 20px rgb(103,174,203), 0 0 30px rgb(103,174,203),0 0 40px rgb(103,174,203),0 0 50px rgb(103,174,203);
   
    color: white;
}*/